In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("DailyDelhiClimateTrain.csv")
df2 = pd.read_csv("DailyDelhiClimateTest.csv")

In [3]:
df = pd.concat([df1 , df2] ,axis=0)

In [4]:
df.head()

         date   meantemp   humidity  wind_speed  meanpressure
0  2013-01-01  10.000000  84.500000    0.000000   1015.666667
1  2013-01-02   7.400000  92.000000    2.980000   1017.800000
2  2013-01-03   7.166667  87.000000    4.633333   1018.666667
3  2013-01-04   8.666667  71.333333    1.233333   1017.166667
4  2013-01-05   6.000000  86.833333    3.700000   1016.500000

In [8]:
df['MA_for_250_days'] = df['humidity'].rolling(100).mean()

In [10]:
df['MA_for_250_days'][0:100].tail()

95          NaN
96          NaN
97          NaN
98          NaN
99    64.185071
Name: MA_for_250_days, dtype: float64

In [12]:
df['percentage_change_cp'] = df['humidity'].pct_change()
df[['humidity','percentage_change_cp']].head()

    humidity  percentage_change_cp
0  84.500000                   NaN
1  92.000000              0.088757
2  87.000000             -0.054348
3  71.333333             -0.180077
4  86.833333              0.217290

In [13]:
humidity = df[['humidity']]

In [15]:
max(humidity.values),min(humidity.values)

(array([100.]), array([13.42857143]))

In [17]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler(feature_range=(0,1))
scaled_data = scaler.fit_transform(humidity)
scaled_data

array([[0.8209571 ],
       [0.90759076],
       [0.84983498],
       ...,
       [0.31732673],
       [0.16254125],
       [0.15841584]])

In [18]:
len(scaled_data)

1576

In [19]:
x_data = []
y_data = []

for i in range(100, len(scaled_data)):
    x_data.append(scaled_data[i-100:i])
    y_data.append(scaled_data[i])
    
import numpy as np
x_data, y_data = np.array(x_data), np.array(y_data)

In [20]:
splitting_len = int(len(x_data)*0.7)
x_train = x_data[:splitting_len]
y_train = y_data[:splitting_len]

x_test = x_data[splitting_len:]
y_test = y_data[splitting_len:]

In [21]:
from keras.models import Sequential
from keras.layers import Dense, LSTM

In [22]:
model = Sequential()
model.add(LSTM(128, return_sequences=True, input_shape=(x_train.shape[1],1)))
model.add(LSTM(64,return_sequences=False))
model.add(Dense(25))
model.add(Dense(1))

d:\Installation\Python\Lib\site-packages\keras\src\layers\rnn\rnn.py:204: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

In [23]:
model.compile(optimizer='adam', loss='mean_squared_error')

In [24]:
model.fit(x_train, y_train, batch_size=1, epochs = 2)

Epoch 1/2
1033/1033 ━━━━━━━━━━━━━━━━━━━━ 18s 16ms/step - loss: 0.0219
Epoch 2/2
1033/1033 ━━━━━━━━━━━━━━━━━━━━ 16s 16ms/step - loss: 0.0102

In [25]:
predictions = model.predict(x_test)

14/14 ━━━━━━━━━━━━━━━━━━━━ 1s 26ms/step

In [26]:
inv_predictions = scaler.inverse_transform(predictions)

array([[72.67056 ],
       [63.907776],
       [65.34472 ],
       [63.275723],
       [55.818703],
       [58.631363],
       [61.54275 ],
       [60.853806],
       [58.806637],
       [56.18883 ],
       [58.57058 ],
       [71.43743 ],
       [65.105064],
       [68.32391 ],
       [58.903458],
       [52.817814],
       [52.621593],
       [58.141502],
       [57.144634],
       [55.44513 ],
       [57.85597 ],
       [60.63201 ],
       [60.958664],
       [55.953075],
       [56.086124],
       [55.029453],
       [46.689606],
       [56.293564],
       [63.083607],
       [60.441437],
       [57.671494],
       [56.0105  ],
       [56.167168],
       [64.270706],
       [62.89753 ],
       [61.807087],
       [62.758865],
       [57.479515],
       [54.155457],
       [51.79659 ],
       [60.091557],
       [59.852406],
       [57.29252 ],
       [46.05903 ],
       [42.07336 ],
       [45.592022],
       [47.96439 ],
       [49.9647  ],
       [58.990498],
       [51.527794],
       [51.166424],
       [47.555656],
       [41.907074],
       [41.655777],
       [40.410053],
       [40.314533],
       [44.080948],
       [36.0511  ],
       [32.550526],
       [34.590298],
       [37.23056 ],
       [36.40226 ],
       [33.58465 ],
       [30.725666],
       [34.406525],
       [35.472584],
       [29.797663],
       [26.196552],
       [26.609613],
       [25.3931  ],
       [25.086887],
       [29.068804],
       [31.794281],
       [26.710018],
       [25.089575],
       [24.583456],
       [22.844868],
       [22.668549],
       [22.996918],
       [24.508266],
       [27.24543 ],
       [22.659735],
       [22.858591],
       [24.460987],
       [23.227573],
       [19.737411],
       [27.097181],
       [29.27185 ],
       [36.583725],
       [34.1405  ],
       [34.02367 ],
       [33.790962],
       [37.13755 ],
       [37.128006],
       [44.78117 ],
       [38.286297],
       [30.129078],
       [32.1327  ],
       [30.884466],
       [26.59357 ],
       [27.3816  ],
       [28.537022],
       [37.433887],
       [40.640213],
       [41.554985],
       [41.28322 ],
       [43.821854],
       [48.371674],
       [43.775692],
       [42.706745],
       [30.254541],
       [37.035873],
       [52.387367],
       [66.07204 ],
       [47.311527],
       [42.149837],
       [37.593113],
       [41.36579 ],
       [42.56398 ],
       [49.53973 ],
       [45.00402 ],
       [54.92508 ],
       [44.081184],
       [43.557434],
       [42.325375],
       [48.21278 ],
       [39.08527 ],
       [43.04842 ],
       [51.893852],
       [47.141376],
       [48.958626],
       [49.768055],
       [48.67184 ],
       [50.83381 ],
       [67.004074],
       [56.696022],
       [57.04332 ],
       [50.659435],
       [47.55033 ],
       [54.739906],
       [55.70331 ],
       [58.46394 ],
       [69.104744],
       [55.547935],
       [58.063236],
       [68.56831 ],
       [72.83169 ],
       [70.91756 ],
       [70.30583 ],
       [65.01097 ],
       [62.646374],
       [62.38939 ],
       [72.74116 ],
       [63.523354],
       [64.372284],
       [69.22849 ],
       [75.17098 ],
       [71.01266 ],
       [75.21648 ],
       [72.83413 ],
       [86.74297 ],
       [77.777695],
       [84.21737 ],
       [65.63702 ],
       [61.782127],
       [60.236984],
       [59.489105],
       [66.6738  ],
       [70.21243 ],
       [66.6493  ],
       [77.18427 ],
       [80.341515],
       [74.07979 ],
       [85.038055],
       [82.89221 ],
       [76.414375],
       [79.482895],
       [69.603226],
       [64.81744 ],
       [65.666855],
       [63.52422 ],
       [74.702805],
       [63.99405 ],
       [62.776707],
       [69.94186 ],
       [68.39715 ],
       [83.31891 ],
       [76.511665],
       [71.74323 ],
       [78.57815 ],
       [64.91826 ],
       [66.30734 ],
       [71.098305],
       [76.17875 ],
       [65.92455 ],
       [65.92457 ],
       [67.12224 ],
       [64.82142 ],
       [68.43811 ],
       [75.15236 ],
       [68.384415],
       [70.5439  ],
       [67.54711 ],
       [64.880486],
       [78.264626],
       [71.462456],
       [83.24769 ],
       [79.031685],
       [67.849106],
       [63.13429 ],
       [61.278732],
       [62.076412],
       [57.55927 ],
       [59.407024],
       [58.961174],
       [57.43252 ],
       [58.244205],
       [56.409477],
       [55.513054],
       [56.480553],
       [66.55059 ],
       [57.159992],
       [56.73818 ],
       [56.848507],
       [57.511864],
       [57.928127],
       [53.80478 ],
       [57.66373 ],
       [64.09429 ],
       [62.250713],
       [62.804146],
       [59.723835],
       [59.128548],
       [57.00469 ],
       [55.29375 ],
       [59.96448 ],
       [58.04009 ],
       [60.029064],
       [59.726257],
       [58.014767],
       [66.12809 ],
       [66.92337 ],
       [61.46097 ],
       [58.579185],
       [57.502224],
       [58.59796 ],
       [52.394688],
       [52.51729 ],
       [49.41584 ],
       [46.71447 ],
       [49.150173],
       [53.43062 ],
       [49.765205],
       [49.09207 ],
       [48.340187],
       [48.73709 ],
       [47.54429 ],
       [49.403915],
       [48.619358],
       [52.63743 ],
       [49.899418],
       [52.329136],
       [53.569283],
       [56.037   ],
       [55.61826 ],
       [58.907738],
       [65.36191 ],
       [61.692875],
       [56.35045 ],
       [62.71847 ],
       [57.762306],
       [57.254837],
       [63.815285],
       [61.145588],
       [52.019176],
       [53.19067 ],
       [51.16604 ],
       [51.318058],
       [53.927574],
       [56.55592 ],
       [54.49139 ],
       [58.183445],
       [54.136036],
       [52.513966],
       [51.489025],
       [52.911434],
       [58.158062],
       [57.209328],
       [57.709267],
       [50.08732 ],
       [51.380096],
       [51.405445],
       [36.448635],
       [36.87566 ],
       [37.31732 ],
       [39.45478 ],
       [51.093678],
       [71.29833 ],
       [71.83586 ],
       [65.702354],
       [49.78384 ],
       [54.04243 ],
       [55.505684],
       [66.0689  ],
       [68.597885],
       [67.561935],
       [63.99505 ],
       [76.732864],
       [64.52087 ],
       [62.291935],
       [61.724903],
       [59.028786],
       [57.645782],
       [62.64861 ],
       [62.02216 ],
       [62.70121 ],
       [56.026142],
       [50.71657 ],
       [55.0119  ],
       [57.30508 ],
       [70.08984 ],
       [71.45003 ],
       [84.17642 ],
       [66.234116],
       [64.499954],
       [65.897705],
       [82.345215],
       [80.772736],
       [79.12516 ],
       [91.10889 ],
       [76.76193 ],
       [73.81539 ],
       [78.92342 ],
       [68.655556],
       [74.30576 ],
       [76.80233 ],
       [89.87566 ],
       [76.17681 ],
       [77.11593 ],
       [70.141396],
       [71.53611 ],
       [73.2198  ],
       [66.71693 ],
       [73.11598 ],
       [70.463356],
       [75.31304 ],
       [79.16386 ],
       [73.300575],
       [71.94489 ],
       [65.51298 ],
       [69.93693 ],
       [73.54859 ],
       [72.54765 ],
       [66.340614],
       [68.61612 ],
       [86.149704],
       [70.43374 ],
       [78.27879 ],
       [76.330154],
       [73.50327 ],
       [73.028824],
       [75.40363 ],
       [65.44767 ],
       [76.24814 ],
       [73.89444 ],
       [74.145905],
       [67.71453 ],
       [64.01716 ],
       [68.01825 ],
       [67.265434],
       [69.75285 ],
       [63.06416 ],
       [68.68608 ],
       [65.16863 ],
       [64.27063 ],
       [65.987175],
       [57.25243 ],
       [63.745014],
       [67.97249 ],
       [63.590466],
       [59.404556],
       [67.01706 ],
       [56.713993],
       [46.952915],
       [45.02419 ],
       [52.058987],
       [58.011677],
       [56.693928],
       [51.39321 ],
       [48.637337],
       [53.268093],
       [44.454613],
       [44.669334],
       [43.123573],
       [43.65475 ],
       [42.68201 ],
       [50.598297],
       [62.88465 ],
       [60.83877 ],
       [55.71838 ],
       [53.771893],
       [48.964954],
       [54.646107],
       [53.435658],
       [49.423203],
       [57.417072],
       [47.143433],
       [51.689945],
       [53.356644],
       [49.015686],
       [46.064484],
       [49.42845 ],
       [40.601227],
       [41.295643],
       [39.478416],
       [40.126724],
       [41.27756 ],
       [36.64819 ],
       [37.67383 ],
       [38.054096],
       [36.078697],
       [34.744843],
       [31.67763 ],
       [32.622112],
       [42.638603],
       [29.233946],
       [30.39635 ],
       [30.219189],
       [24.49711 ],
       [22.298386],
       [20.62474 ],
       [25.568455],
       [28.199081],
       [34.128166],
       [29.626335],
       [31.716402],
       [35.025085],
       [27.885859],
       [25.041903],
       [27.08103 ],
       [35.720917],
       [37.63094 ],
       [28.591097]], dtype=float32)

In [27]:
inv_y_test = scaler.inverse_transform(y_test)

In [28]:
rmse = np.sqrt(np.mean( (inv_predictions - inv_y_test)**2))

In [29]:
rmse

7.368202202968044